html, body {width:100%; padding:0; margin:0px;}

body { 	 
	font: 14px/22px Georgia, "Times New Roman", Times, serif;
	color:hsl(0, 95%, 23%);
	min-width:1000px;
	background: #ffd277;
}

#menu  ul{
   list-style-type: none;
   text-align: center;
}

#menu li{
   display: inline;
   text-align: center;
   margin: 0 60px 0 0;
}
#menu li a {
   padding: 5px 8px 5px 8px;
   color: white;
   background-color: orange;
   border: 4px solid darkred;
   text-decoration: none;
   border-radius: 15%;
}
#menu li a:hover{
   background-color: #f8faf8;
   color: #ff1100;
}

aside{
   background-color: rgba(241, 188, 11, 0.521);
   text-align: center;
}

article{
 background-color: rgb(245, 178, 91);
}
footer {
   background-color: #fffd7c;
   text-align: center;
}


p{
	color: rgb(243, 241, 241);
	text-align: center;
	}

h2{

   color: maroon;
	text-align: center;
}

dt{
   color: black;
}

dd{
color: rgb(126, 41, 11);
}

th{
   color: rgb(255, 0, 0);
	text-align: center;
}